body {
    background-color:rgb(245, 251, 254);
    
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-SemiBoldItalic.ttf);
  font-weight: 400;
  font-style: italic;
}

h1 {

font-size: 20;
font-family: 'Montserrat', Montserrat, monospace;
word-spacing: 20px;
color: rgb(0, 0, 0) ;
}

@media(min-width:768px) {

.container-1 {
    display: flex;
    align-items: flex-start;
  }

.container-1 div{
    padding: 10px;
}

}
  
 .box-1 {
    flex: 1;
    text-align: center;
 }

 .box-2 {
    flex: 2;
    align-items: center;
    justify-content: center;
 }

