body {
    background-color:rgb(245, 251, 254);
    
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-SemiBoldItalic.ttf);
  font-weight: 400;
  font-style: italic;
}

h1 {

font-size: 20;
font-family: 'Montserrat', Montserrat, monospace;
word-spacing: 20px;
color: rgb(0, 0, 0) ;
}

a{
color: rgb(212, 131, 84);
text-decoration:underline ;

}

.header{
    position: relative;
    width: 100%;
    height: 50px;

}

.box{
    position: relative;
    bottom: 0;
    right: 0;
}

.grid_top{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(168px, auto);
    text-align: center;

}

.grid_middle{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100, auto);
    text-align: center;

}

.nested{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100, auto);
    text-align: center;
    padding: 1em;

}

.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.bottom_right{
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.top_box_titles:after {
    content: "";
    display: table;
    clear: both;
}